#include "resource.h"

#include <windows.h>

LANGUAGE LANG_ENGLISH, SUBLANG_ENGLISH_US

/////////////////////////////////////////////////////////////////////////////
//
// Icon
//

// Icon with lowest ID value placed first to ensure application icon
// remains consistent on all systems.

IDI_APP                 ICON         "icons/app.ico"
IDI_HDR_OFF_DARKMODE    ICON         "icons/sdr-darkmode.ico"
IDI_HDR_OFF_LIGHTMODE   ICON         "icons/sdr-lightmode.ico"
IDI_HDR_ON_DARKMODE     ICON         "icons/hdr-darkmode.ico"
IDI_HDR_ON_LIGHTMODE    ICON         "icons/hdr-lightmode.ico"

/////////////////////////////////////////////////////////////////////////////
//
// Menu
//

IDC_TRAYPOPUP MENU
BEGIN
    POPUP "Dummy"
    BEGIN
        MENUITEM "Enable &HDR",                   IDM_ENABLE_HDR
        MENUITEM "&Start when logging in",        IDM_AUTOSTART
        MENUITEM SEPARATOR
        MENUITEM "&SDR 80 (Lowest)",              IDM_SDRWL_80
        MENUITEM "&SDR 203 (Default)",            IDM_SDRWL_203
        MENUITEM "&SDR 480 (Highest)",            IDM_SDRWL_480
        MENUITEM SEPARATOR
        MENUITEM "&EOTF sRGB (Mismatched)",       IDM_EOTF_SRGB
        MENUITEM "&EOTF 2.2 (Corrected)",         IDM_EOTF_22
        MENUITEM "&EOTF 2.4 (Stronger)",          IDM_EOTF_24
        MENUITEM SEPARATOR
        MENUITEM "&Quit",                         IDM_EXIT
    END
END

/////////////////////////////////////////////////////////////////////////////
//
// String Table
//

STRINGTABLE
BEGIN
   IDS_APP_TITLE                  "HDRTray"
   IDS_HDR_UNSUPPORTED            "HDR not supported"
   IDS_HDR_OFF                    "HDR is off\nClick to turn on HDR"
   IDS_HDR_ON                     "HDR is on\nClick to turn off HDR"
   IDS_WINDOWS_TOO_OLD            "Sorry, HDRTray only works on Windows 10, version 1803 and above"
   IDS_TOGGLE_HDR_ERROR           "Failed to switch HDR mode"
   IDS_EOTF_OK                    "Ok"
   IDS_EOTF_GITHUB_REL            "GitHub Releases"
   IDS_EOTF_NOTFOUND_TITLE        "dwm_eotf.exe Not Found"
   IDS_EOTF_NOTFOUND_CONTENT      "Changing the EOTF behavior requires dwm_eotf.exe placed next to this execuable.\n\n(Scans, patch, and restart dwm.exe to safely/temporarily memory hack gamma sRGB decode shader to 2.2 or more for SDR content on HDR scRGB output.)"
   IDS_EOTF_WARN_TITLE            "Windows Instability False Positive"
   IDS_EOTF_WARN_CONTENT          "Running too many times trigger GPU driver uninstalling because Windows thinks it's instability.\n\nShould be reversible by reinstall from disk, just annoying."
END


//
// Version Info
//
#include "version.rc"


LANGUAGE LANG_PORTUGUESE, SUBLANG_PORTUGUESE_BRAZILIAN

// Portuguese Brazilian translation by https://github.com/marciozomb13

/////////////////////////////////////////////////////////////////////////////
//
// Menu
//

IDC_TRAYPOPUP MENU
BEGIN
    POPUP "Dummy"
    BEGIN
        MENUITEM "Ativar o &HDR",           IDM_ENABLE_HDR
        MENUITEM "&Iniciar ao fazer login", IDM_AUTOSTART
        MENUITEM SEPARATOR
        MENUITEM "&SDR 80",                 IDM_SDRWL_80
        MENUITEM "&SDR 203",                IDM_SDRWL_203
        MENUITEM "&SDR 480",                IDM_SDRWL_480
        MENUITEM SEPARATOR
        MENUITEM "&EOTF sRGB",              IDM_EOTF_SRGB
        MENUITEM "&EOTF 2.2",               IDM_EOTF_22
        MENUITEM "&EOTF 2.4",               IDM_EOTF_24
        MENUITEM SEPARATOR
        MENUITEM "&Sair",                   IDM_EXIT
    END
END

/////////////////////////////////////////////////////////////////////////////
//
// String Table
//

STRINGTABLE
BEGIN
   IDS_APP_TITLE              "HDRTray"
   IDS_HDR_UNSUPPORTED        "HDR não suportado"
   IDS_HDR_OFF                "HDR desativado\nClique para ativar o HDR"
   IDS_HDR_ON                 "HDR ativado\nClique para desativar o HDR"
   IDS_WINDOWS_TOO_OLD        "Desculpe, o HDRTray só funciona no Windows 10, versão 1803 e posterior"
   IDS_TOGGLE_HDR_ERROR       "Houve uma falha ao alternar o modo HDR"
   IDS_EOTF_OK                "//TODO: Portuguese Brazilian"
   IDS_EOTF_GITHUB_REL        "//TODO: Portuguese Brazilian"
   IDS_EOTF_NOTFOUND_TITLE    "//TODO: Portuguese Brazilian"
   IDS_EOTF_NOTFOUND_CONTENT  "//TODO: Portuguese Brazilian"
   IDS_EOTF_WARN_TITLE        "//TODO: Portuguese Brazilian"
   IDS_EOTF_WARN_CONTENT      "//TODO: Portuguese Brazilian"
END
